@font-face {
  font-family: 'Great Vibes';
  src: url('../fonts/GreatVibes.ttf');
}


body {
  margin: 0;
  font-family: 'Lora', serif;
}

span {
  color: red;
}
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.title_font {
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
}


.wrapper{
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1100px) 1fr ;
  grid-template-rows: 1fr 1fr 1fr auto;
  height: 100vh;
}

.header {
    background-color:#f6f6f6;
    color: black;
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 4;
    grid-row: 1/2;
}
.header_footer_logo {
  flex: 0 0 200px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .header_footer_logo img {
    max-width: 100%;
  }
nav .mainMenu{
   display: flex;
   list-style: none;
   align-items: center;
}
nav .mainMenu li a{
   display: inline-block;
   padding: 15px;
   text-decoration: none;
   text-transform: uppercase;
   color: black;
   font-size: 16px;
}
nav .mainMenu li a:hover{
    color: #ff6852;
  transition: 0.3s;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
.menu_input {
width: 200px;
height: 30px;
border: 0px;
border-radius: 10px;
}

.header_logo {
flex: 0 0 60px;
z-index: 5;
display: flex;
align-items: center;
}
.header_logo img {
  max-width: 100%;
}
@media (max-width:1100px) {
    nav .mainMenu{
        height: 300px;
        position: fixed;
        top:0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #f6f6f6;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top:20px;
        left: 20px; }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover{
        
        color: #ff6852;
        transition: 0.3s;
        
    } 
    .icons i {
        display: inline-block;
        padding: 12px;
    } 
}

.header_title{
  background-color:#f6f6f6;
  grid-column:2/3;
  grid-row:2/3 ;
  height: 300px;
  padding-top:100px ;
  padding-left: 20px;
}
.header_title_left{
  background-color:#f6f6f6;
  grid-column:1/2;
  grid-row:2/3 ;
}
.header_title_right{
  background-color:#f6f6f6;
  grid-column:3/4;
  grid-row:2/3 ;
}
.divider {
width: 100px;
height: 2px;
background-color: red;
}


.blog_wrapper  img{    
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog_wrapper {
  display: flex;
  align-content: stretch;
  grid-column:2/3;
  grid-row:3/4 ;
  margin-bottom: 120px;
  margin-top: 70px;
  padding: 20px;
}

@media (max-width:1100px) {
   .blog_wrapper  {
    flex-direction: column-reverse;
    
   }
  }

.news_item > div {
  margin-bottom: -4px;
}
.news_content{
  display: flex;
  border:1px dotted grey; 
  border-top: none;
  border-left: none;
}

.news_item {
  margin-bottom: 70px;
}

.news_content_date{
 width: 50px;
 flex-grow: 1;
 text-align: center;
 border-left: 3px solid red;
 border-right: 1px dotted grey;
 padding-top: 24px;
 padding-bottom: 24px;
}
.news_content_info{
  width: 50px;
  flex-grow: 4;
  padding: 32px;
}

.news_content_date p {
  margin-top: -15px; 
  font-size: 12px;
  color: gray;
}

.news_content_info > p {
  letter-spacing: 1px;
  font-size: 11px;
  color: gray;
}


.news_content_info a:hover {
  color: #ff6852;
  transition: 0.4s;
}




.blog_news{
  width: 100px;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}
@media (max-width:1100px) {
   .blog_news  {
    width: 100%;
    
   }
  }



.blog_news_a{
  display: flex;
  border:1px dotted grey; 
  border-top: none;
  border-left: none;
}

.blog_news_1{
 width: 50px;
 flex-grow: 1;
 text-align: center;
 border-left: 3px solid red;
 border-right: 1px dotted grey;
 padding-top: 24px;
 padding-bottom: 24px;
}
.blog_news_2{
  width: 50px;
  flex-grow: 4;
  padding: 32px;
}
.sidebar_link {
  padding: 10px;
}
.sidebar_block_wrapper{
  width: 100px;
  flex-grow: 1;
  padding-left: 70px;
  display: flex; 
  flex-direction: column;
}
@media (max-width:1100px) {
   .sidebar_block_wrapper  {
    width: 100%;
    padding-left: 0px;
    
    
   }
  }


@media (max-width:1100px) {
   .categories  {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   }
  }
  @media (max-width:750px) {
   .categories  {
    flex-direction: column;
    
   }
  }

.sidebar_block_wrapper a:hover {
  color: #ff6852;
  transition: 0.4s;
}

.post_item{
  display: flex;
  padding-bottom: 15px;
}

.post_item_image{
  width: 40px;
  flex-grow:1 ;
}

.post_item_content{
  width: 40px;
  flex-grow:4 ;
  padding-left: 15px;
  background-color:#f6f6f6;
  font-size: 14px;
}



.post_item_content_date {
color: #888;
font-size: 10px;
line-height: 12px;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
margin-top: 8px;
margin-bottom: 4px;

}


@media (max-width:1100px) {
   .tags_wrapper  {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    
   }
  }
.tags{
  display: flex;
  padding-bottom: 5px;
  font-size: 13px;
}

.tags_item {
  padding: 5px;
}



.tags_item a{
  text-decoration: none;
  color: black;
  border: 1px solid #e8e8e8;;
  padding: 5px;
}

.tags_item a:hover {
    border-color: #ff6852;
    background-color: #ff6852;
    color: #fff;
    transition: 0.4s;
}


.footer_flex {
  display: flex;
}
.footer{
  grid-column: 2 / 3;
  grid-row: 4/5; 
  background-color:#f6f6f6;
  height: min-content;
}
@media (max-width:1100px) {
   .footer_flex {
     display: flex;
     flex-direction: column;
   }
  }
.footer_left{
  background-color:#f6f6f6;
  grid-column-start:1;
  grid-column-end:2 ;
  grid-row-start:4;
  grid-row-end:5;
}
@media (max-width:1100px) {
   .footer_left {
     display: none;
   }
  }
.footer_right{
  background-color:#f6f6f6;
  grid-column-start:3;
  grid-column-end:4 ;
  grid-row-start:4;
  grid-row-end:5;
}
@media (max-width:1100px) {
   .footer_right {
     display: none;
   }
  }
.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.footer_style{
  display: flex;
  justify-content: center;
}
@media (max-width:750px) {
   .footer_style {
     flex-direction: column;
   
     align-items: center;
   }
  }
.footer_item {
  width: 150px; 
  padding: 50px;
  
}

.footer_item div {
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer_item a {
  text-decoration: none;
  color: rgb(117, 115, 115);
}
.footer_item a:hover {
  color: #ff6852;
  transition: 0.3s;
}
.divider_footer {
width: 250px;
height: 2px;
margin: 0 auto;
margin-top: 20px ;
background-color: #151515;
text-align: center;
}
.footer_copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}




